{% load query_tags %}

<div class="categories-wrapper">
    <div class="categories-scroll">

        <a href="{% querystring category='' %}"
           class="category-btn {% if not selected_category %}active{% endif %}">
            <span>Все</span>
        </a>

        {% for category in categories %}
            <a href="{% querystring category=category.slug %}"
               class="category-btn {% if selected_category == category.slug %}active{% endif %}">
                <span>{{ category.name }}</span>
            </a>
        {% endfor %}

    </div>
</div>