# Секреты
.env
.env.local

# Логи
logs/

# Собранная статика
staticfiles/

# Медиа (если не коммитим)
media/

# БД
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/