<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; Афиша мероприятий нашего города</p>
        </div>
        
<div class="footer-links">
    <a href="{% url 'pages:about' %}">О нас</a>
    <a href="{% url 'pages:contacts' %}">Контакты</a>
    <a href="{% url 'pages:help' %}">Помощь</a>
    <a href="{% url 'pages:privacy' %}">Политика конфиденциальности</a>
    <a href="{% url 'pages:cookies' %}">Cookies</a>
    <a href="{% url 'pages:terms' %}">Соглашение</a>
</div>
        
    <div class="footer-social">
            
    </div>
</footer>