{% extends "errors/_base.html" %}

{% block title %}Внутренняя ошибка сервера{% endblock %}
{% block code %}500{% endblock %}
{% block heading %}Что-то сломалось{% endblock %}
{% block message %}
    На сервере произошла непредвиденная ошибка. Мы уже получили уведомление
    и постараемся починить как можно быстрее.
{% endblock %}

{% block icon %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"/>
    <line x1="12" y1="9" x2="12" y2="13"/>
    <line x1="12" y1="17" x2="12.01" y2="17"/>
</svg>
{% endblock %}

{% block email_subject %}Ошибка%20500%20на%20сайте{% endblock %}
{% block email_body %}Здравствуйте!%0A%0AПолучил%20ошибку%20500%20на%20сайте%20АФИША%20ИСКИТИМ.%0A%0AСтраница%3A%20(вставьте%20ссылку)%0AЧто%20делал%3A%20(опишите%20действия)%0A%0AСпасибо!{% endblock %}